<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="input-element">
  <template>
    <style>

    .form-group{
      position: relative;
      margin-bottom: 20px;
    }

    input{outline:none;}

    input:not([type=radio]):not([type=checkbox]) {
      padding: 25px 10px 0 16px;
      background: #f4f4f4;
      border-radius: 1px;
      border: 0;
      border-bottom: 1px solid #676767;
      height: 56px;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    label.control-label {
        position: absolute;
        /* top: 10px; */
        /* left: 10px; */
        margin: auto;
        overflow: hidden;
        cursor: text;
        color: #666666;
        -webkit-transition: 0.2s ease all;
        -o-transition: 0.2s ease all;
        transition: 0.2s ease all;
        top: 20px;
        left: 16px;
        font-size: 15px;
    }

    label.control-label {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 16px;
      margin: 0px;
    }

    input.has-value~label, select.has-value~label {
        top: 10px;
        left: 16px;
        font-size: 12px;
    }


    input.invalid~label {
        color: #b92a45;
    }

    input:not([type=radio]):not([type=checkbox]).invalid {
      color: #121212;
      background-color: #fcdfdf;
      border-bottom-color: #b92a45;
    }
    </style>

    <div id='div[[name]]' class="form-group">
      <input type='[[type]]' name='[[name]]' id$="{{name}}" class$="form-control {{cssclasses}}" maxlength$="{{maxlength}}" value="{{value}}">
      <label for$='{{name}}' class="control-label">[[label]]</label>
    </div>
  </template>
  <script>
    class InputElement extends Polymer.Element {
      static get is() { return 'input-element'; }

      static get properties(){
        return {
          type:{
            type:String,
            value:'text'
          },
          label:{
            type: String,
            value:''
          },
          name:{
            type:String,
            value:''
          },
          maxlength:{
            type:Number
          },
          cssclasses:{
            type:String,
            value:''
          },
          errormessage:{
            type:String,
            value:'Valor incorrecto'
          },
          value:{
            type:String,
            value:'',
            observer:'_changedValue'
          }
        };
      }

      ready() {
        super.ready();

        this.addEventListener('blur', this._onBlur);
        this.addEventListener('focus', this._onFocus);

        this.shadowRoot.querySelector('.form-control').addEventListener('keypress', this._onKeyPress);
        this.shadowRoot.querySelector('.form-control').addEventListener('keyup', this._onKeyUp);

        if(this.value!=''){
          this.shadowRoot.querySelector('.form-control').classList.add('has-value');
        }

      }

      _onClick(event) {
        this.shadowRoot.querySelector('.form-control').classList.add('has-value');
      }

      _onFocus(event) {
        this.shadowRoot.querySelector('.form-control').classList.add('has-value');
      }

      _onKeyUp(event){
        if(this.classList.contains('email')){
          if(this.value.length > 0 && !event.composedPath()[3].validateEmailKeyUp(this.value)){
            this.classList.add('invalid');
          }else{
            this.classList.remove('invalid');
          }
        }
      }

      _onKeyPress(event){
        if(this.classList.contains('alphabetic')){
          if(!event.composedPath()[3].validateAlphabetic(event)){
            event.preventDefault();
          }
        }else if(this.classList.contains('alphanumeric')){
          if(!event.composedPath()[3].validateAlphanumeric(event)){
            event.preventDefault();
          }
        }else if(this.classList.contains('numeric')){
          if(!event.composedPath()[3].validateNumeric(event)){
            event.preventDefault();
          }
        }else if(this.classList.contains('email')){
          if(!event.composedPath()[3].validateEmail(event)){
            event.preventDefault();
          }
        }
      }

      getValue(){
        return this.shadowRoot.querySelector('.form-control').value;
      }

      _onBlur(event){
        var fc = this.shadowRoot.querySelector('.form-control');
        if(fc.value.length==0){
          fc.classList.remove('has-value');
        }
      }

      validateAlphanumeric(e) {
      	var tecla = (document.all) ? e.keyCode : e.which;
      	if (tecla == 8)
      		return true;
      	if (tecla == 0)// SPECIAL CASE FIREFOX
      		return true;

      	var patron = /[A-Za-z0-9\s]/;
      	var te = String.fromCharCode(tecla);
      	return patron.test(te);
      }

      _changedValue(){
        if(this.value!='' && this.value !== undefined){
          this.shadowRoot.querySelector('.form-control').classList.add('has-value');
        }else{
          this.shadowRoot.querySelector('.form-control').classList.remove('has-value');
        }
      }

      /*function validarAlfanumericoTipoUno(e){
      	var tecla = (document.all) ? e.keyCode : e.which;
      	if (tecla == 8)// TAB
      		return true;
      	if (tecla == 0)// SPECIAL CASE FIREFOX
      		return true;
      	return /^[A-Za-z0-9\s]+$/.test(String.fromCharCode(tecla));
      }*/

      validateAlphabetic(e) {
      	var tecla = (document.all) ? e.keyCode : e.which;
      	if (tecla == 8)
      		return true;
      	if (tecla == 32)
      		return true; // TAB
      	if (tecla == 0)// SPECIAL CASE FIREFOX
      		return true;

      	var patron = /^[a-zA-Z ñáéíóúÑÁÉÍÓÚ]$/;
      	var te = String.fromCharCode(tecla);
      	return patron.test(te);
      }

      validateNumeric(e) {
      	var tecla = (document.all) ? e.keyCode : e.which;
      	if (tecla == 8)// TAB
      		return true;
      	if (tecla == 0)// SPECIAL CASE FIREFOX
      		return true;
      	var patron = /[0-9]/;
      	var te = String.fromCharCode(tecla);
      	return patron.test(te);
      }

      validateEmail(e) {
      	var tecla = (document.all) ? e.keyCode : e.which;
      	if (tecla == 8)// TAB
      		return true;
      	if (tecla == 0)// SPECIAL CASE FIREFOX
      		return true;

      	var patron = /([a-zA-Z0-9\_\.@\-]+)$/;
      	//var patron = /^[A-Za-z0-9._-@]+$/;
      	var te = String.fromCharCode(tecla);
      	return patron.test(te);
      }

      validateEmailKeyUp(email){
        var re= /^[A-Za-z0-9._-]+@[A-Za-z0-9-_]+((\.[A-Za-z0-9]{2,3})|((\.[A-Za-z0-9]*)(\.[A-Za-z0-9]{2,3})(\.[A-Za-z0-9]{2,3})?))$/;
  	     return re.test(email);
      }

    }
    window.customElements.define(InputElement.is, InputElement);
  </script>
</dom-module>
