<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="components/input-element">
<link rel="import" href="components/select-element">

<dom-module id="manage-users">
  <template>
    <style include="shared-styles">

    </style>
      <div class="container">
        <h1>&iexcl;Bienvenido!</h1>
        <h5>&nbsp;</h5>
        <div class="access-container">
          <form id="registerForm" class="form-register">
            <select-element id="documentType" label="Tipo de documento" name="documentType" options={{options}} class="select" on-change="updateInput"></select-element>
            <input-element id="documentNumber" label="N&uacute;mero de documento" name="documentNumber" maxlength={{maxlength}} cssclasses="numeric"></input-element>
            <input-element id="firstName" label="Primer nombre" name="firstName" cssclasses="alphabetic"></input-element>
            <input-element id="middelName" label="Segundo nombre" name="middleName" cssclasses="alphabetic"></input-element>
            <input-element id="lastName" label="Apellido paterno" name="lastName" cssclasses="alphabetic"></input-element>
            <input-element id="secondLastName" label="Apellido materno" name="secondLastName" cssclasses="alphabetic"></input-element>
            <input-element id="email" label="Email" name="email" cssclasses="email"></input-element>
            <input-element label="Password" name="password" type="password" maxlength="8" classes="alphanumeric"></input-element>
            <button type="button" class="btn blue" on-click="send">Registrar</button>
          </form>
        </div>
      </div>
  </template>

  <script>
    class ManageUsers extends Polymer.Element {
      static get is() { return 'manage-users'; }

      static get properties(){
        return {
          options:{
            type:Array,
            value:[
              {value:'L', text:'DNI', maxlength:8},
              {value:'R', text:'RUC', maxlength:11},
              {value:'P', text:'Pasaporte', maxlength:12},
              {value:'E', text:'Carnet de Extranjer&iacute;a', maxlength:12},
              {value:'M', text:'Carnet de Identidad Militar', maxlength:15},
              {value:'D', text:'Carnet Diplom&aacute;tico', maxlength:15},
              {value:'J', text:'Partida de Nacimiento', maxlength:15}
            ]
          },
          maxlength:{
            type:String,
            value:'8'
          }
        };
      }

      ready(){
        super.ready();
      }
    }

    window.customElements.define(ManageUsers.is, ManageUsers);
  </script>
</dom-module>
