<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="components/input-element.html">
<link rel="import" href="components/select-element.html">

<dom-module id="manage-users2">
  <template>
    <style include="shared-styles">
    button[hidden]{
      display:none;
    }
    </style>

    <iron-ajax
      id="saveUserAjax"
      url="http://localhost:3000/apimaob/v1/users"
      method="post"
      handle-as="json"
      headers="[[headers]]"
      body="[[jsonUser]]"
      on-response="_validateSaved"
      last-response="{{savedresponse}}"
    >
    </iron-ajax>

    <iron-ajax
      id="updateUserAjax"
      url="http://localhost:3000/apimaob/v1/users/[[alias]]"
      method="put"
      handle-as="json"
      headers="[[headers]]"
      body="[[jsonUser]]"
      on-response="_validateUpdated"
      last-response="{{updatedresponse}}"
    >
    </iron-ajax>

    <iron-ajax
      id="searchUserAjax"
      url="http://localhost:3000/apimaob/v1/users/[[alias]]"
      handle-as="json"
      on-response="_showUser"
      last-response="{{data}}"
    >
    </iron-ajax>

    <div class="container">
      <h4>Gestion de usuarios</h4>
      <form id="registerForm" class="form-register">
        <select-element id="documentType" label="Tipo de documento" name="documentType" options={{options}} class="select" value="{{user.documentType}}"></select-element>
        <input-element id="documentNumber" label="N&uacute;mero de documento" name="documentNumber" maxlength={{maxlength}} cssclasses="numeric" value="{{user.documentNumber}}"></input-element>
        <button type="button" class="btn blue" on-click="_searchUser">Buscar</button>
        <input-element id="firstName" label="Primer nombre" name="firstName" cssclasses="alphabetic" value="{{user.firstName}}"></input-element>
        <input-element id="middleName" label="Segundo nombre" name="middleName" cssclasses="alphabetic" value="{{user.middleName}}"></input-element>
        <input-element id="lastName" label="Apellido paterno" name="lastName" cssclasses="alphabetic" value="{{user.lastName}}"></input-element>
        <input-element id="secondLastName" label="Apellido materno" name="secondLastName" cssclasses="alphabetic" value="{{user.secondLastName}}"></input-element>
        <input-element id="email" label="Email" name="email" cssclasses="email" value="{{user.email}}"></input-element>
        <input-element id="password" label="Password" name="password" type="password" maxlength="8" classes="alphanumeric" value="{{user.password}}"></input-element>
        <button type="button" class="btn blue" on-click="_saveUser" hidden$='{{hidesave}}'>Registrar</button>
        <button type="button" class="btn blue" on-click="_updateUser" hidden$='{{!hidesave}}'>Guardar</button>
        <button type="button" class="btn blue" on-click="_cancelUpdate" hidden$='{{!hidesave}}'>Cancelar</button>
      </form>
    </div>
  </template>

  <script>
    class ManageUsers2 extends Polymer.Element {
      static get is() { return 'manage-users2'; }

      static get properties(){
        return {
          headers:{
            type: Object,
            value : {'Accept':'application/json', 'Content-Type':'application/json'}
          },
          options:{
            type:Array,
            value:[
              {value:'L', text:'DNI', maxlength:8},
              {value:'R', text:'RUC', maxlength:11},
              {value:'P', text:'Pasaporte', maxlength:12},
              {value:'E', text:'Carnet de Extranjer&iacute;a', maxlength:12},
              {value:'M', text:'Carnet de Identidad Militar', maxlength:15},
              {value:'D', text:'Carnet Diplom&aacute;tico', maxlength:15},
              {value:'J', text:'Partida de Nacimiento', maxlength:15}
            ]
          },
          jsonuser:{
            type:Object,
            value:{}
          },
          user:{
            type:Object,
            value:{
                  type:'',
                  documentNumber:'',
                  documentType:'',
                  firstName:'',
                  middleName:'',
                  lastName:'',
                  secondLastName:'',
                  email:'',
                  password:''
            }
          },
          maxlength:{
            type:String,
            value:'8'
          },
          alias:{
            type:String,
            value:''
          },
          hidesave:{
            type:Boolean,
            value:false
          }
        }
      }

      constructor(){
        super();
      }


      _searchUser(event){
        event.preventDefault();
        this.alias = this.$.documentType.getValue()+''+this.$.documentNumber.getValue();
        this.$.searchUserAjax.generateRequest();
      }

      _saveUser(event){
        event.preventDefault();
        this.jsonUser = {
              alias:this.$.documentType.getValue()+''+this.$.documentNumber.getValue(),
              firstName:this.$.firstName.getValue(),
              middleName:this.$.middleName.getValue(),
              lastName:this.$.lastName.getValue(),
              secondLastName:this.$.secondLastName.getValue(),
              email:this.$.email.getValue(),
              password:this.$.password.getValue()
        };

        this.$.saveUserAjax.generateRequest();

      }

      _updateUser(event){
        event.preventDefault();
        this.alias = this.$.documentType.getValue()+''+this.$.documentNumber.getValue()
        this.jsonUser = {
              firstName:this.$.firstName.getValue(),
              middleName:this.$.middleName.getValue(),
              lastName:this.$.lastName.getValue(),
              secondLastName:this.$.secondLastName.getValue(),
              email:this.$.email.getValue(),
              password:this.$.password.getValue()
        };

        this.$.updateUserAjax.generateRequest();
      }

      _showUser(data){

        if(data.detail.response!= null && data.detail.response !== undefined){
          data.detail.response[0].documentNumber = data.detail.response[0].alias.substr(1);
          data.detail.response[0].documentType = data.detail.response[0].alias.substr(0,1);
          this.user = data.detail.response[0];
          this.hidesave = true;
        }else{
          alert('usuario no encontrado');
        }
      }

      _cancelUpdate(event){
        event.preventDefault();
        this._cleanForm();
        this.hidesave = false;
      }

      _validateSaved(savedresponse){
        console.log(savedresponse.detail.status );
        if(savedresponse.detail.status == 200){
          alert('usuario registrado');
          this.user = {
                documentNumber:'',
                documentType:'L',
                firstName:'',
                middleName:'',
                lastName:'',
                secondLastName:'',
                email:'',
                password:''
          }
        }else{
          alert('ocurriò un problema al registrar el usuario');
        }
      }

      _validateUpdated(updatedresponse){
        if(updatedresponse.detail.status == 200){
          alert('usuario actualizado');
          this._cleanForm();
          this.hidesave = false;
        }else{
          alert('ocurriò un problema al actualizar el usuario');
        }
      }

      _cleanForm(){
        this.user = {
              documentNumber:'',
              documentType:'L',
              firstName:'',
              middleName:'',
              lastName:'',
              secondLastName:'',
              email:'',
              password:''
        }
      }
    }

    window.customElements.define(ManageUsers2.is, ManageUsers2);
  </script>
</dom-module>
