<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-movements.html">

<dom-module id="my-accounts">
  <template>
    <style include="shared-styles">
    div.messages[hidden]{
      display:none;
    }
    </style>
    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/apimaob/v1/accounts"
      headers="{{headers}}"
      handle-as="json"
      on-response="showData"
      last-response="{{data}}"
    >
    </iron-ajax>
    <div class="pg-table-header">
      <h4>Cuentas</h4>
    </div>
    <div class="tables-body">
    <table class="account-table">
        <tr>
          <th>Tipo y n&uacute;mero de cuenta</th>
          <th>Saldo contable</th>
          <th>Saldo disponible</th>
        </tr>
        <template is="dom-repeat" items="{{accounts}}" index-as="index">
          <tr>
            <td>
              <div class="left">
                <a class="link" on-click="showMovements" data-item$="[[item.id]]">[[item.id]]</a>
                <small>[[item.product.name]]</small>
              </div>
            </td>
            <td class="right"><strong>[[item.currentBalance.amount]]</strong></td>
            <td class="right"><strong>[[item.availableBalance.amount]]</strong></td>
          </tr>
        </template>
    </table>
    </div>
    <div class="messages" hidden="{{haydatos}}">No posee cuentas para mostrar</div>
    <div id="movements-list"></div>
  </template>

  <script>
    class MyAccounts extends Polymer.Element {
      static get is() { return 'my-accounts'; }

      static get properties(){
        return {
          headers:{
            type: Object,
            value : {'alias':''}
          },
          accounts:{
            type:Array
          },
          haydatos:{
            type:Boolean,
            value:true
          }
        }
      }

      ready(){
        super.ready();
        var user = JSON.parse(sessionStorage.getItem('user'))
        this.headers = {'alias':user.alias};
      }

      showData(data){
        if(data.detail.response!= null && data.detail.response!==undefined){
          this.accounts = data.detail.response[0].accounts;
          this.haydatos = true;
        }else{
          this.haydatos = false;
        }

      }

      showMovements(event){
        const accountId = event.target.dataset.item;
        var movementEl = document.createElement('my-movements');
        movementEl.setAttribute("accountid", accountId);
        var movList = this.shadowRoot.querySelector("#movements-list")
        movList.innerHTML ="";
        movList.appendChild(movementEl);
      }


    }

    window.customElements.define(MyAccounts.is, MyAccounts);
  </script>
</dom-module>
