<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-exchange-rate">
  <template>
  <style include="shared-styles">
    .link{
      font-size: 12px;
      font-weight: bold;
      color: #0065b7;
    }

  </style>
    <iron-ajax auto
      id="getExchangeRate"
      url="https://www.deperu.com/api/rest/cotizaciondolar.json"
      headers="[[headers]]"
      handle-as="json"
      on-response="showData"
      last-response="{{data}}"
    >
    </iron-ajax>
    <div class="pg-table-header">
      <h4>Tipo de cambio</h4>
    </div>
    <div class="tables-body">
    <table class="account-table">
        <tr>
          <th></th>
          <th>Compra</th>
          <th>Venta</th>
        </tr>
        <tr>
            <td>$ 1.00</td>
            <td>{{compra}}</td>
            <td>{{venta}}</td>
        </tr>
    </table>
    </div>
  </template>

  <script>
    class MyExchangeRate extends Polymer.Element {
      static get is() { return 'my-exchange-rate'; }

      static get properties(){
        return {
          exchangeRate:{
            type:Object
          },
          compra:{
            type:String,
            value:''
          },
          venta:{
            type:String,
            value:''
          }
        }
      }

      showData(data){
        var cotizacion = data.detail.response.Cotizacion[0];
        this.compra = cotizacion.Compra;
        this.venta = cotizacion.Venta;
      }

    }

    window.customElements.define(MyExchangeRate.is, MyExchangeRate);
  </script>
</dom-module>
