<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-movements">
  <template>
    <style include="shared-styles">
      .hidden{
        display:none;
      }
    </style>
    <iron-ajax auto
      id="getTransactions"
      url="http://localhost:3000/apimaob/v1/accountTransactions/[[accountid]]"
      headers="[[headers]]"
      handle-as="json"
      on-response="showData"
      last-response="{{data}}"
    >
    </iron-ajax>

    <div class="pg-table-header">
      <h4>Movimientos:</h4>
    </div>
    <div class="tables-body" hidden="[[haydatos]]">
      <table class="account-table">
        <tr><th colspan="4" class$="left">Cuenta: {{accountid}}</th></tr>
        <tr>
          <th>Nro. Movimiento</th>
          <th>Descripci&oacute;n</th>
          <th>Fecha</th>
          <th>Saldo disponible</th>
        </tr>
      <template is="dom-repeat" items="{{transactionsFormatted}}" index-as="index">
        <tr>
          <td><strong>[[item.id]]</strong></td>
          <td class="left">[[item.description]]</strong></td>
          <td class="right"><strong>[[item.date]]</strong></td>
          <td class="right"><strong>[[item.amount]]</strong></td>
        </tr>
      </template>
      </table>
    </div>




    <!--<div>

    </div>
    <div id="list-transactions" hidden="[[haydatos]]">
    <iron-list items="{{transactions}}" as="transaction">

      <template>
      <div class="row">
        <div class="col-lg-4">
          <a>[[transaction.id]]</a>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
      </div>

      </template>
    </iron-list>
  </div>-->
  <div id="error-message" hidden="[[!haydatos]]">
    No hay datos por mostrar
  </div>
  </template>

  <script>
    class MyMovements extends Polymer.Element {
      static get is() { return 'my-movements'; }

      static get properties(){
        return {
          headers:{
            type: Object,
            value : {'alias':'L46166359'}
          },
          accountid:{
            type: String
          },
          transactions:{
            type:Array
          },
          transactionsFormatted:{
            type:Array
          },
          haydatos:{
            type:Boolean,
            value:false
          }
        }
      }

      ready(){
        super.ready();
        var user = JSON.parse(sessionStorage.getItem('user'))
        this.headers = {'alias':user.alias};
      }

      showData(data){
        if(data.detail.response!=null){
          this.transactions = data.detail.response[0].transactions;
          this.transactionsFormatted = [];

          for(var i = 0; i < this.transactions.length; i++){
            var jsonTransaction = {};
            var transaction = {};
            transaction = this.transactions[i];
            jsonTransaction.id = transaction.id;
            jsonTransaction.description = transaction.concept.name;
            jsonTransaction.date = this.getDate(transaction.transactionDate);
            jsonTransaction.amount = this.getCurrency(transaction.amount.currency)+' '+transaction.amount.amount;
            this.transactionsFormatted.push(jsonTransaction);
          }

          this.haydatos = false;
        }else{
          this.haydatos = true;
        }
      }

      getDate(sDate){
        var hourDate = sDate.split('T');
        return hourDate[0].substr(8)+'/'+hourDate[0].substr(5,2)+'/'+hourDate[0].substr(0,4);
      }

      getCurrency(currencyCode){
        var currencies = [{currencyCode:'PEN', symbol:'S/'},{currencyCode:'USD', symbol: '$'}];
        for(var i = 0; i < currencies.length; i++){
          if(currencies[i].currencyCode == currencyCode){
            return currencies[i].symbol;
          }
        }
        return '';
      }
    }



    window.customElements.define(MyMovements.is, MyMovements);
  </script>
</dom-module>
