<link rel="import" href="../bower_components/polymer/polymer-element.html">
<dom-module id="shared-styles">
  <template>
    <style>
      .container {
          max-width: 530px;
          width: 100%;
          margin: 0px auto;
          display: block;
      }
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1, h2, h3, h4, h5, h6 {
          font-family: Arial;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          margin: 0;
          padding: 0;
      }
      h1{
        font-size: 2em;
      }
      h5 {
        font-size: 18px;
      }

      .link{
        font-size: 12px;
        font-weight: bold;
        color: #0065b7;
      }


      .pg-table-header{
        background-color: #f0f2ef;
        border: 1px solid #dcdcdc;
        min-height: 50px;

        border-radius: 4px 4px 0 0;
        position: relative;
      }
      .pg-table-header h4 {
          margin: 15px 20px;
          font-size: 18px;
          color: #434a58;
      }

      button, input, optgroup, select, textarea {
          font-family: inherit;
          font-size: 100%;
          line-height: 1.15;
          margin: 0;
      }

      button, input {
          overflow: visible;
      }

      button, select {
          text-transform: none;
      }

      button, [type="button"], [type="reset"], [type="submit"] {
          -webkit-appearance: button;
      }

      .btn {
          font-family: "BentonSansBBVA Medium","Helvetica Neue",Arial,Helvetica,sans-serif;
          font-weight: bold;
          width: 100%;
          max-width: 100%;
          padding: 16px;
          font-size: 13px;
          border-radius: 1px;
          border: 0;
          color: #fff;
          cursor: pointer;
          display: inline-block;
          font-weight: normal;
          margin: 8px 0;
          text-align: center;
          -ms-touch-action: manipulation;
          touch-action: manipulation;
          vertical-align: middle;
          white-space: inherit;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          background-size: 210% 100%;
          background-position: 100% center;
          background-repeat: no-repeat;
          -webkit-transition: background-position .5s cubic-bezier(0.4,0,0.2,1);
          -o-transition: background-position .5s cubic-bezier(0.4,0,0.2,1);
          transition: background-position .5s cubic-bezier(0.4,0,0.2,1);
          box-sizing: border-box;
      }

      .btn.blue {
          background-color: #1973b8;
          background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,#1973b8),color-stop(50%,#1973b8),color-stop(51%,#1464a5),color-stop(100%,#1464a5));
          background-image: -webkit-linear-gradient(350deg,#1464a5 0,#1464a5 50%,#1973b8 50%,#1973b8 100%);
          background-image: -o-linear-gradient(350deg,#1464a5 0,#1464a5 50%,#1973b8 50%,#1973b8 100%);
          background-image: linear-gradient(100deg,#1464a5 0,#1464a5 50%,#1973b8 50%,#1973b8 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$end',endColorstr='$start',GradientType=0);
      }

      .btn:hover, .btn:active, .btn.active {
          border-bottom: none!important;
          color: #fff;
          background-position: 0 center;
      }



      .pg-table-header{
        background-color: #f0f2ef;
        border: 1px solid #dcdcdc;
        min-height: 50px;

        border-radius: 4px 4px 0 0;
        position: relative;
      }
      .pg-table-header h4 {
          margin: 15px 20px;
          font-size: 18px;
          color: #434a58;
      }

      .tables-body table{
        width:100%;
      }
      .tables-body table tr {
        border-bottom: 1px solid #dcdcdc;
      }

      .tables-body table tr th {
          font-size: 10px;
          font-weight: bold;
          background-color: #f8f8f5;
          border-right: 1px solid #dcdcdc;
          padding: 4px 10px;
          color: #434a58;
          text-transform: uppercase;
      }

      .tables-body table tr th:last-child {
          border-right: 0;
      }

      .tables-body table tr td {
          text-align: right;
          vertical-align: top;
          padding: 20px 10px;
          border-right:0 !important;
          border-left:0 !important;
          background:#fff;
      }

      .tables-body table tr td small {
          font-size: 11px;
          color: #434a58;
          font-weight: normal;
          display: block;
      }

      .tables-body table tr td strong {
          font-size: 15px;
      }

      .left{text-align:left !important;}
      .right{text-align:right !important;}
      .center{text-align:center !important;}

      .link{
        font-size: 12px;
        font-weight: bold;
        color: #0065b7;
      }
    </style>
  </template>
</dom-module>
